/* Form CSS: https://codepen.io/AlexKP/pen/xJjYwZ */
/* Form CSS sample code: https://devsnap.me/css-contact-forms */
/* Copy presentation & download thumbnail code: https://codepen.io/nathanlong/pen/rMyaPQ */
* {
  padding: 0;
  margin: 0;
}
:root {
  --img-size: 15rem; /* ~approximately 240px */
  --img-width-size: 200px;
  --img-height-size: 240px;
  --img_size_circled: calc(var(--img_size) / 2);
  --sidbar-color: rgb(22, 66, 52);
  --container-background: #6A9C89; /* or #6A9C85 */
  --color_ink: #282724;

  --cs: 30px;
  --br: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  font-family: Arial;
  font-size: 16px;
  background: #5e42a6;
  background: #5e42df;
  background: whitesmoke;
  background: #5e42df;
  background: whitesmoke;
  background-color: #c7c7c7;
  background-color: #eee6e6;
  /*background: #36383F;
  background: #1E1E23;*/

  @media (max-width: 60em) {
    background: linear-gradient(122deg, whitesmoke 0%, #abe5d2b3 4%, whitesmoke 100%);
  }
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
main {
    width: 99vw; /* I suspect this is redundant */
    height: 100vh; /* I suspect that this is redundant */

    @media (max-width: 60em) {
      width: 100vw;
    }
    @media (max-width: 30em) {
      width: 98.6vw;
      width: 100vw;
      /*max-width: 100vw;*/
    }
}
header h3 {
  color: #404954;
  color: #204954;
  color: #304954;
  color: #304654;
  color: rgba(0, 0, 0, 0.646);
  font-weight: 700;
}
.sidebar {
  position: fixed;
  width: 25%;
  width: 24.2%;
  width: 20%;
  width: 19.4%;
  width: 19.6%;
  height: 100vh;
  margin-left: 20px;
  background: #312450; /* controls the color of the sidebar/naviagation panel */
  background: #6A9C89;
  background: #16423C;
  background: #164234;
  background: rgba(22, 66, 52, 95%);
  border-top-right-radius: 40px;
  border-top-right-radius: 0;
  /*border-top-left-radius: 15px;*/
  /*border-bottom-left-radius: 20px;*/
  border-bottom-right-radius: 8px;
  padding-top: 5em;
  padding-top: 3em;
  opacity: 0.9;
  font-size: 0.65em;
  font-size: 0.61em;
  /* This is to support mobile navigation */
  @media (max-width: 60em) {
    height: 11vh;
    margin-left: 0;
    padding-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 0.65em;
    padding-left: 0;
    z-index: 20;
    /*float: top;*/
    width: 100%;
    /*width: 100%;*/
  }
}
.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  /*top: 50%;
  top: 40%;
  top: 46%;*/
  /*transform: translateY(-50%);*/
  font-weight: bold;
  /*border: 1px solid red;*/
}
.nav {
  position: relative;
  margin: 0 10%; /* control this value to decide how big the red border should be*/
  text-align: right;
  /*top: 50%;
  top: 40%;
  top: 5%;*/
  /*transform: translateY(-50%);*/
  /*top: 46%;*/
  top: 3%;
  font-weight: bold;
  /*border: 1px solid red;*/
}

/* This is mobile navigation code*/
.nav {
    @media(max-width: 60em) {
        top: 0;
        margin: 0;
        position: fixed;
        /*text-align: unset;*/
        #menuToggle {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 25px;
            left: 25px;
            z-index: 1;
            -webkit-user-select: none;
            user-select: none;
          }
          
          #menuToggle input
          {
            display: flex;
            width: 40px;
            height: 32px;
            /*width: 80px;
            height: 64px;*/
            width: 32px;
            margin-top: -12px; /* mobile menu fix */
            margin-left: -3px; /* mobile menu fix */
            position: absolute;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
          }
          
          #menuToggle span
          {
            display: flex;
            width: 29px;
            height: 2px;
            margin-bottom: 5px;
            position: relative;
            background: #ffffff;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 5px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
          }
          
          #menuToggle span:first-child
          {
            transform-origin: 0% 0%;
          }
          
          #menuToggle span:nth-last-child(2)
          {
            transform-origin: 0% 100%;
          }
          
          #menuToggle input:checked ~ span
          {
            opacity: 1;
            transform: rotate(45deg) translate(-3px, -1px);
            background: #36383F;
          }
          #menuToggle input:checked ~ span:nth-last-child(3)
          {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }
          
          #menuToggle input:checked ~ span:nth-last-child(2)
          {
            transform: rotate(-45deg) translate(0, -1px);
          }
          
          #menu
          {
            position: absolute;
            width: 180px;
            height: 400px;
            height: 80vh;
            box-shadow: 0 0 10px #85888C;
            margin: -50px 0 0 -50px;
            padding: 50px;
            padding-top: 125px;
            background-color: #F5F6FA;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
          }
          
          #menu li
          {
            padding: 10px 0;
            transition-delay: 2s;
          }
          
          #menuToggle input:checked ~ ul
          {
            transform: none;
          }
    }
}

/* Please place any menu toggler code right above this code block*/
.nav #menu-toggle input, span{
    @media(min-width: 60em) {
        margin-right: -110vw; /* Please take note! It makes the radio-box input disappear */
    }
}
.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
  /*border: 2px solid #36383F;
  border: 2px solid #85888C;*/
  padding-right: 4px;
  margin-bottom: 20px;
  @media (max-width: 60em) {
    border: 1px solid olive;
    margin-bottom: 0;
  }
}
.nav ul li a {
  line-height: 5em;
  line-height: 3.5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.35);
  color: green;
  color: olive;
  color: rgba(128, 128, 0, 0.618);
  color: white;
  opacity: 0.8;
  display: block;
  font-size: 12px;
  font-size: 18px;
  transition: all ease-out 300ms;
  @media (max-width: 60em) {
    font-size: 12px;
    color: green;
    letter-spacing: 0.2em;
    opacity: 1;
  }
}
.nav ul li a.active {
  color: greenyellow;
  color: green;
  color: white;
  opacity: 1;
  font-size: 18.5px;
  /*opacity: 0.6;*/
  /*opacity: 0.8;*/
  @media (max-width: 60em) {
    color: green;
    /*opacity: 0.6;*/
    color:  #36383F;
    font-size: 12.5px;
  }
  /*@media (min-width: 60em) {
    color: white;
  }*/
}
.nav ul li a.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}
.nav ul li.active:hover a {
  @media (max-width: 60em) {
    color: #36383F;
  }
}
.nav ul li:not(.active)::after {
  opacity: 0.6;
}
.nav ul li:not(.active):hover a {
  /*color: rgba(255, 255, 255, 0.75);
  color: gray;
  color: #36383F;*/
  color: white;
  opacity: 1;
  @media (max-width: 60em) {
    color: #36383F;
  }
}
.nav ul li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

.page-view {
    position: relative;
    border: 1px solid black;
    /*width: 75%;*/
    width: 79%;
    float: right;
    scroll-behavior: smooth;
    /*margin-top: 5vh;*/
    margin-top: 0vh; /* redundant code though */
    /*height: 100vh;*/
    background: linear-gradient(122deg, whitesmoke 0%, rgb(22, 66, 52, 70%) 4%, whitesmoke 100%);
    background: linear-gradient(122deg, whitesmoke 0%, #abe5d2b3 4%, whitesmoke 100%);

    @media (max-width: 60em) {
        /*position: absolute;*/
        float: bottom; /* somewhat irrelevant code */
        width: 100%;
        margin-top: 15vh;
        background: none;
        border-top: none;
    }
    /* BAD CODE? */
    @media (max-width: 30em) {
      margin-right: -0.19em;
    }

    header {
      /*border: 1px solid black;*/
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      margin-top: 5vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /*background-color: white;*/

      @media (max-width: 60em) {
        margin-top: 0;
      }
    }

    header h1#brand-name {
      width: 80%;
      /*border: 1px solid brown;*/
      font-family: "Sree Krushnadevaraya", serif;
      font-weight: normal;
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 5.5rem;
      font-size: 3.5rem;
      color: var(--color_ink);
      color: olive;
      line-height: 1.1;
      /*margin-top: -1.8rem;*/ /* This may not serve me well */
      /*@media screen and (min-width: 32.5rem) {
        font-size: 7rem;;
      }*/ /* This also may not serve me well*/
    }

    header h3 {
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    figure#selfie-img-container {
      width: var(--img-size);
      height: var(--img-size);
      height: var(--img-height-size);/*
      width: var(--img-width-size);
      height: var(--img-height-size);*/
      border: 1px solid gray;
      border-radius: 50%;
      overflow: hidden;
    }

    figure img#selfie-img {
      /*width: 200px;
      height: 240px;*/
      width: 240px;
      height: 259px; /* or 268px */
    }

    .hero-container {
      margin: 20px; 
      border: 1px solid brown;
      border-radius: 4px;
      background-color: whitesmoke; 
      padding-bottom: 9vh;
    }
    .container-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /*height: 100%;*/
      /*height: 25vh;*/
      /*border: 1px solid black;*/
      margin-top: 10vh;
      margin: auto;
      margin-top: 10vh;
      min-height: 50vh;
      background: rgb(79, 119, 100);
      background: rgb(85, 119, 103);
      border-radius: 20px;
      /*width: 87%;*/
      width: 68%;

      @media (max-width: 60em) {
        /*height: 25vh;*/
        width: 80%;
        margin-top: 8vh;
      }
      position: relative;
      margin: auto;
      margin-top: 10vh;
      width: 68%;
      width: 60%;
      width: 50%;
      /*max-width: 260px;*/
      border-radius: var(--br);
      background-color: #ffffff;
      background: rgb(79, 119, 100);
      background: rgb(85, 119, 103);
      background-image: linear-gradient(122deg, olive 0%, #556777 100%);
      background-image: linear-gradient(122deg, rgba(255, 217, 0, 0.908) 0%, #556777 100%);
      color: #9cd7ff;
      color: #363c5f;
      padding: 40px;
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      clip-path: polygon(0 0, calc(100% - var(--cs)) 0, 100% var(--cs), 100% 100%, 0 100%);

      @media (max-width: 60em) {
        flex-direction: column;
        width: 58%;
      }
    }
    .container-1::after {
      content: '';
      position: absolute;
      display: block;
      width: var(--cs);
      height: var(--cs);
      background-color: #e1e1f2;
      top: 0;
      right: 0;
      border-bottom-left-radius: var(--br);
    }

    /*Achieved Linear-gradient code goes here*/
    
    .container-1 div.container-1-second-box {
      /*border: 1px solid pink;*/
      border-radius: 4px;
      border-radius: 6px;
      width: 40%;
      /*font-size: 1.1em;*/
      text-align: left;
      background: #4f7764;
      background: linear-gradient(122deg, #8457f6 0%, #9cd7ff 100%);
      background-image: linear-gradient(122deg, rgba(255, 217, 0, 0.908) 0%, #556777 100%);
      opacity: 0.5;
      p {
        text-align: center;
        color: black;
        font-style: bold;
        font-size: 21px;
        font-weight: 550;
        line-height: 1.6em;
        /*border: 1px solid white;*/
        text-align: center;
      }
      @media (max-width: 60em) {
        margin-top: 0;
        width: 80%;
      }
    }

    .pitch-container-heading {
      width: 100%;
      /*margin-top: 0.6em;
      margin-top: 9.5vh;*/
      margin-top: 10.5vh;
      border: 1px solid black;
      padding-top: 4vh;
      border-left: none;
      border-bottom: none;
      h2 {
        color: #404954;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -0.1rem;
        display: inline-block;
        /*border: 1px solid red;*/
        width: 96.5%;
        text-align: center;
        /*sborder: 1px solid yellow;*/
      }
    }
    
    .container-2 {
      display: flex;
      flex-direction: row;
      padding: 20px;
      align-items: center;
      justify-content: center;
      /*height: 100%;*/
      /*height: 25vh;*/
      border: 1px solid black;
      border-top: none;
      border-right: none;
      border-left: none;
      margin-top: 10vh;
      margin-top: 0.2vh;
      /*text-align: justify;*/
      padding: 10vh;
      padding-top: 40px;

      @media (max-width: 60em) {
        flex-direction: column;
      }
    }
    .container-2 a {
      position: relative;
      /*img {
        width: 48px;
        height: 48px;
      }*/
    }
    .container-2 p {
      /*text-transform: uppercase;*/
      font-size: 1em;
      /*letter-spacing: 0.1em;*/
      color: #FFF;
      color: black;
      /*border: 1px solid white;*/
      /*font-weight: bold;*/
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 20px;
      /*text-align: center*/
      text-align: center;
      height: 35vh;

      @media (max-width: 60em) {
        height: 60px;
      }
    }
    .container-2 .circle-1,
    .container-2 .circle-2,
    .container-2 .circle-3 {
      color: #fff;
      padding: 5%;
      width: 180px;
      height: 180px;
      margin: 0 -15px;
      mix-blend-mode: multiply;
    }
    .circle-1 {
      background: #f66;
      border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
    }
    .circle-2 {
      background: #f92;
      border-radius: 80% 30% 50% 50%/50%;
    }
    .circle-3 {
      background: #fc2;
      border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
    }
    /* End of CONTAINER-2 CSS code */

    #services-container-heading {
      color: #404954;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: -0.1rem;
      display: inline-block;
      margin-top: 0;
      /*border: 1px solid red;*/
      width: 96.5%;
      text-align: center;
      margin-top: 0.6em;
      margin-top: 9.5vh;
      margin-top: 10.5vh;
      /*sborder: 1px solid yellow;*/
    }

    .container-3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /*height: 100%;*/
      /*height: 25vh;*/
      border: 1px solid black;
    }
    .container-3 a {
      position: relative;
    }

    /* start of experimental services render code */
    .container-3-extra-mods {
      max-width: 900px;
      margin: 100px auto;
      margin-top: 1vh;
      position: relative;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      overflow: hidden;

      /*@media (max-width: 30em) {
        max-width: 100vw;
      }*/
    }
    .item-grid {
      max-width: 900px;
      margin: 100px auto;
      position: relative;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      overflow: hidden;

      /*@media (max-width: 30em) {
        max-width: 100vw;
      }*/
    }
    
    .item {
      position: relative;
      float: left;
      width: 33.3333333333%;
      background-color: #128EF3;
      background-color: rgba(0, 0, 0, 0.2);
      overflow: hidden;

      @media(max-width: 60em) {
        font-size: 0.87em;
      }

      @media (max-width: 30em) {
        height: 21vh;
        width: 50%;
        font-size: 0.7em;
      }

      a {
        text-decoration: none;
        color:rgb(22, 66, 52);
      }
    }
    .item:after {
      content: "";
      display: block;
      background-color: inherit;
      opacity: 0.9;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(2) translateX(-75%) translateY(-75%) translateZ(0) rotate(-28deg);
      transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .item:hover:after {
      transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
    }
    .item:hover .item-image {
      transform: scale(1.2) translateZ(0);
    }
    .item:hover .item-text {
      opacity: 1;
      transform: translateY(0);
    }
    
    .item-image {
      height: auto;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      transform: translateZ(0);
      transition: transform 750ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .item-image::before {
      content: "";
      display: block;
      padding-top: 75%;
      overflow: hidden;
    }
    .item-image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      line-height: 0;
    }
    
    .item-text {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0;
      text-align: center;
      z-index: 1;
      color: #ffffff;
      transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
      transition-delay: 300ms;
      transform: translateY(-20%);
      text-decoration: none;
    }
    
    .item-text-wrapper {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .item-text-title {
      font-weight: normal;
      font-style: 16px;
      padding: 0 15px;
      margin: 5px 0 0 0;
    }
    
    .item-text-dek {
      text-transform: uppercase;
      font-style: 14px;
      opacity: 0.7;
      margin: 0;
    }
    
    .item-link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      line-height: 0;
      overflow: hidden;
      text-indent: -9999px;
    }
    /* end CONTAINER-4 CSS code, and experimental services render */   
  
    /* beginning of CONTAINER-4 code */
    .samples-container-heading {
      color: #404954;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: -0.1rem;
      display: inline-block;
      margin-top: 0;
      /*border: 1px solid red;*/
      width: 96.5%;
      text-align: center;
      margin-top: 0.6em;
      /*sborder: 1px solid yellow;*/
    }

    .container-4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /*height: 100%;*/
      /*height: 25vh;*/
      border: 1px solid black;
      border-left: none;
      margin-top: 10vh;
    }
    
    .container-4 a {
      position: relative;
      text-decoration: none;

      @media (max-width: 30em) {
        font-size: 0.96em;
        font-weight: 500;
        line-height: 1.4em;
      }
      
      img {
        width: 48px;
        height: 48px;
      }
    }

    .container-4 p#samples-caption {
      /*border: 1px solid orangered;*/
      width: 80%;
      text-align: justify;
      margin: auto;
      margin-top: 1em;
      margin-bottom: 3.5em;
      font-size: 17.5px;
    }

    .container-4 p {
      color: black;
    }

    article {
      border: 1px solid brown;
      border-bottom: 1px solid rgba(165, 42, 42, 0.52);
      border-radius: 4px;
      width: 80%;
      text-align: justify;
      margin: auto;
      padding: 20px;

      @media (max-width: 30em) {
        padding: 40px;
        font-size: 17.5px;
      }
    }
  

    /* beginning of CONTAINER-5 code */

    #get-in-touch-container-heading {
      color: #404954;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: -0.1rem;
      display: inline-block;
      margin-top: 0;
      /*border: 1px solid red;*/
      width: 96.5%;
      text-align: center;
      margin-top: 0.6em;
      margin-top: 9.5vh;
      margin-top: 10.5vh;
      /*sborder: 1px solid yellow;*/
    }

    input, button, textarea {
      border: 2px solid rgba(0, 0, 0, 0.6);
      background-image: none;
      background-color: #dadad3;
      box-shadow: none;
      padding: 5px;
    }
    input:focus, button:focus, textarea:focus {
      outline: none;
    }
    
    textarea {
      min-height: 50px;
      resize: vertical;
    }
    
    button {
      cursor: pointer;
      font-weight: 500;
    }
    
    .feedback-card {
      border: 1px solid black;
      border-radius: 12px;
      max-width: 980px;
      min-width: 50%;
      padding: 50px;
      
      background-color: #fff;
      margin: 0 auto;
      box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);

      @media (max-width: 60em) {
        min-width: 70%;
      }

      @media (max-width: 30em) {
        max-width: 50%;
        padding: 44px; /* BAD CODE? */
      }
    }
    .feedback-header {
      text-align: center;
      padding: 8px;
      font-size: 14px;
      font-size: 20px;
      font-weight: 700;
      border-bottom: 1px solid black;
    }
    .feedback-body {
      padding: 20px;
      display: flex;
      flex-direction: column;
    }
    .feedback-body__message {
      margin-top: 10px;
    }
    .feedback-body button {
      margin-top: 10px;
      align-self: flex-end;
    }
    .feedback-body__message, .feedback-body__email {
      font-size: 20px;
    }
    .container-5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /*height: 100%;*/
      /*height: 25vh;*/
      border: 1px solid black;
      border-left: none;
      margin-top: 10vh;
      margin-bottom: 10vh;
    }
    .container-5 a {
      position: relative;
      
      /*img {
        width: 48px;
        height: 48px;
      }*/
    }
    .container-5 p {
      /*text-transform: uppercase;*/
      font-size: 1em;
      /*letter-spacing: 0.1em;*/
      color: #FFF;
      color: black;
      /*font-weight: bold;*/
      margin-top: 20px;
      text-align: center
    }

    footer {
      /*border: 1px solid black;*/
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      margin-top: 5vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /*background-color: white;*/

      @media (max-width: 60em) {
        margin-top: 0;
      }
    }

    footer div {
      width: 80%;
      /*border: 1px solid brown;*/
      font-family: "Sree Krushnadevaraya", serif;
      font-weight: normal;
      margin: 0;
      text-align: center;
      /*font-size: 5.5rem;
      font-size: 3.5rem;*/
      color: var(--color_ink);
      color: olive;
      line-height: 1.1;
      /*margin-top: -1.8rem;*/ /* This may not serve me well */
      /*@media screen and (min-width: 32.5rem) {
        font-size: 7rem;;
      }*/ /* This also may not serve me well*/

      h4 {
        color: rgba(0, 0, 0, 0.815);
      }
    }
  }
